{#
/**
* @file
* Theme implementation to display a node.
*/
#}

{%
  set classes = [
    'article',
    'article--full-event',
    'article--' ~ view_mode|clean_class,
    node.isPublished() ? '' : 'node--unpublished'
  ]
%}
{%
  set title_classes = [
    'article__title',
    'article--' ~ view_mode|clean_class ~ '__title',
  ]
%}

{% block content %}
  <article id="node-{{ node.id }}" class="{{ attributes.addClass(classes).class }}"{{ attributes }}>
    <div class="l-constrain">
      {{ title_prefix }}
      {% if not page %}
        <h1{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h1>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
      <div class="posted">
        {% if user_picture %}
          {{ user_picture }}
        {% endif %}
        {{ submitted }}
      </div>
      {% endif %}

      {{ content|without('comment', 'links') }}

      {% if content.field_tags|length and not is_front %}
        {{ content.field_tags }}
      {% endif %}

      {{ content.links }}
      {{ content.comments }}
    </div>
</article>
{% endblock %}
