{#
/**
* @file
* Theme implementation to display a node.
*/
#}

{%
  set classes = [
    'article',
    'article--' ~ view_mode|clean_class,
    node.isPublished() ? '' : 'node--unpublished'
  ]
%}
{%
  set title_classes = [
    'article__title',
    'article--' ~ view_mode|clean_class ~ '__title',
  ]
%}

{% block content %}
  <article id="node-{{ node.id }}" class="{{ attributes.addClass(classes).class }}"{{ attributes }}>
    {{ content.field_banner }}

    {{ title_prefix }}
    {% if not page %}
      <h4{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h4>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
    <div class="posted">
      {% if user_picture %}
        {{ user_picture }}
      {% endif %}
      {{ submitted }}
    </div>
    {% endif %}

    <div class="wrapper">
      {{ content|without('comment', 'links', 'field_banner') }}
    </div>

    <footer>
      <a class="read-more__button" href="{{ url }}" rel="bookmark">Read more</a>
    </footer>
</article>
{% endblock %}
