{#
/**
 * @file
 * Theme implementation of the footer.
 *
 * @ingroup themeable
 */
#}

<div class='chalk-footer'>
  <div class='chalk-footer__top'>
    <h2>{{ contact }}</h2>
    {{ contact_link }}
    {{ brochure_link }}
  </div>
  <div class='chalk-footer__sub'>
    {{ social_links }}
    {{ credits }}
  </div>
</div>
