{#
/**
 * @file
 * Theme implementation of the footer.
 *
 * @ingroup themeable
 */
#}

<div class='chalk-footer'>
  <div class='chalk-footer__top'>
    <h2>{{ contact }}</h2>
    <a class="contact-link">{{ contact_link }}Get involved!</a>
    <a class="brochure-link">{{ brochure_link }}Learn more</a>
  </div>
  <div class='chalk-footer__sub'>
    {{ social_links }}
    {{ credits }}
  </div>
</div>
