<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ path '/base/base.css' }}">
    <link rel="stylesheet" href="{{ path '/layout/layout.css' }}">
    <link rel="stylesheet" href="{{ path '/components/components.css' }}">
    <link rel="stylesheet" href="{{ path '/state/state.css' }}">
    <link rel="stylesheet" href="{{ path '/theme/theme.css' }}">
    <link rel="stylesheet" href="{{ path '/theme/print.css' }}" media="print">
    <link rel="stylesheet" href="{{ path '/styleguide.css' }}">
    <title>Preview</title>
</head>
<body>
<div class="page" role="document">
  <main role="main">
    <section class="main-content">
      <div class="l-constrain">
      {{{ yield }}}
      </div>
    </section>
  </main>
</div>
</body>
</html>
